:root {
    /* change the values below to your colors from your palette */
    --primary-color: #4C5760   ;
    --secondary-color: #93A8AC ;
    --accent1-color: #D7CEB2;
    --accent2-color: #A59E8C;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Luxurious Roman";
    --paragraph-font: Open-Sans, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #396E94;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #396E94  ;
    --nav-link-color: black;
    --nav-background-color: var(--secondary-color)    ;
    --nav-hover-link-color: white;
    --nav-hover-background-color: var(--accent1-color);
  }

/* Delete this if needed */
#hero-img {
    width: 100%;
}
/* ^^^^^^^^^^^^ */

#content 
{
    max-width: 1600px;
    margin: 0 auto;
}

nav a 
{
    text-align: center;
    color:black ;
    text-decoration: none;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section { 
    text-align: center;
}

#background {  
    height: 725px;
background-color: var(--accent1-color);
}
body{
    background-color: white;
}

header {
    background-color:var(--secondary-color) ; 
}

nav a:hover {
    background-color:var(--accent1-color) ;
    color: white;
}

.book, .join{
    background-color: var(--secondary-color);
    color: black;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: var(--accent2-color);
    color: white;
}

.msg{
    background-color: white;
}

footer{
    background-color:var(--secondary-color) ;
    color: black;
}

.home-title{
    color: black;   
}

h4{
    color: black;
}

.msg h2{
    color: black;
}

.msg p{
    color: black;
}

footer a{
    color: black;
    text-decoration: none;
}

footer a:hover{
    color: black;
}

.icon{ 
    width: 80px;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}