@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto&display=swap');

#content {
max-width: 1600px;
margin: 0 auto;
}

nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #4f5d75;
}

body {
    background-color: #4f5d75;
    color: white;
    font-family: 'Open Sans', 'Roboto';
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}

header {
    background-color: #2d3142;
    color: white;
}

nav a:hover {
    background-color: white;
    color: white;
}

.book, .join{
    background-color: #4f5d75;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: black;
    color: white;
}

.msg {
    background-color: #2d3142;
    color: white;
    line-height: 1.5em;
    padding: 35px;
}

footer {    
    background-color: #2d3142;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

footer a {
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

.home-title {
    font-family: 'Open Sans', 'Roboto';
    font-size: 2em;
    margin-top: 10px;
}

.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}

#logo_link {
    padding-top: 5px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box;
}